{
  "applicationKeyId": "your-application-key-id",
  "applicationKey": "your-application-key",
  "bucketId": "your-bucket-id",
  "bucketName": "your-bucket-name",
  "customDomain": "",
  "pathPrefix": "test"
}
